<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyy.start.mapper.UserMapper">

    <resultMap id="userMap" type="com.zzyy.start.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
    </resultMap>

    <select id="list" resultMap="userMap">
        select * from users
    </select>

    <select id="queryByName" resultMap="userMap">
        select * from users where username = #{name}
    </select>

</mapper>